<<<<<<< HEAD
﻿#chatContainer
=======
﻿#chat
>>>>>>> 51ed9ce1f6189919b6c278c227a62e25ab685136
    form
        input#message(type='textbox')
        |         
        button#submit(type='submit', onclick='send()') Send
    |     
    button(type='button', onclick='setAvatar()') Change avatar
    |     
    button(type='button', onclick='setUsername()') Change username
<<<<<<< HEAD
    |
    #chat
=======
>>>>>>> 51ed9ce1f6189919b6c278c227a62e25ab685136

link(rel='stylesheet', type='text/css', href='public/css/chat.css')
script(src='http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js')
script(src='http://10.17.17.159:4142/socket.io/socket.io.js')
script(src='public/js/chat.js')