#chatContainer
    form(onsubmit='send();return false;')
        input#message(type='textbox')        
        button#submit(type='submit') Send    
    button(type='button', onclick='setAvatar()') Change avatar    
    button(type='button', onclick='setUsername()') Change username
    #chat

link(rel='stylesheet', type='text/css', href='public/css/chat.css')
script(src='http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js')
script(src='http://#{ip}:#{port}/socket.io/socket.io.js')
script.
    var ip = "#{ip}", port = #{port};
script(src='public/js/nsa.js')
script(src='public/js/chat.js')