<!doctype html>
<html>
<head>
    <title>Nicochat Cage!</title>
    <link rel="stylesheet" type="text/css" href="public/css/chat.css" />
    <script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js"></script>
    <script src="http://10.17.17.159:4142/socket.io/socket.io.js"></script>
    <script src="public/js/chat.js" ></script>
</head>
<body>
    <form>
        <input type="textbox" id="message">
        <button type="submit" id="submit" onclick="send()">Send</button>
    </form>
    <button type="button" onclick="setAvatar()">Change avatar</button>
    <button type="button" onclick="setUsername()">Change username</button>
    <div id="chat">
    </div>
</body>
</html>