doctype html
html
  head
    title Nicochat Cage - Big Brother
    meta(charset='utf-8')
  body
    h1 Ready to send some FREEDOM ?
    img#nsaImage(src='/public/images/nsa.jpg')
    br
    button#freedomButton(type='button', onclick='sendFreedom()') SEND FREEDOM !! MURICA !
    button#freedomButton(type='button', onclick='feelFreedom()') FEEEAL DAAA FREEDOOOOOM !!
    include __chat.jade

    script(src='public/js/nsa.js')
    link(rel='stylesheet', type='text/css', href='/public/css/nsa.css')