<!DOCTYPE html>
<html>
<head>
    <title>NicoChat Cage - Big Brother</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/public/css/nsa.css" />
    <script src="public/js/nsa.js"></script>
</head>
<body>
    <h1>Ready to get some freedom ?</h1>
    <img id="nsaImage" src="/public/images/nsa.jpg" /><br />
    <button type="button" onclick="sendFreedom()" >SEND FREEDOM !! MURICA !</button><br />
    <iframe id="frame" src="http://10.17.17.159:4141" />
</body>
</html>
