.avatar {
    height: 50px;
    width: 50px;
    float: left;
    margin: 0px 10px 5px 0px;
}

.pseudo {
    clear: left;
    font-size: 18px;
}

.messageTime {
    font-style: normal;
    font-size: 14px;
}

.messageContent {
    display: inline-block;
}

.sysMessageContent {
     display: inline-block;
     font-size: 13px;
}

.endmessage {
    margin-bottom: 0px;
}