#githubLink {
    position: fixed;
    right: 3%;
    top: 1%;
}

#githubLink img:hover {
    opacity: 0.5;
}

#command {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #e1e1ff;
    margin: 0px;
    z-index: 1;
}

#command * {
    display: inline;
    text-align: center;
}

#command form {
}

#command form input {
    width: 50%;
}

#chat {
    padding-left: 1%;
    padding-right: 1%; 
    position: relative;
    overflow: auto;

}

.avatar {
    height: 50px;
    width: 50px;
    float: left;
    margin: 0px 10px 5px 0px;
}

.pseudo {
    clear: left;
    font-size: 18px;
}

.messageTime {
    font-style: normal;
    font-size: 14px;
}

.messageContent {
    display: inline-block;
}

.sysMessageContent {
     display: inline-block;
     font-size: 13px;
}

.endmessage {
    margin-bottom: 0px;
}